<header>
    <div class="wrapper">
        <h1>Café Hiyoto</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Menu</a>
                </li>
                <li>
                    <a href="/panier">Panier</a>
                </li>
                <li>
                    <a href="/commande">Commandes</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
